.landing-section {
    position: relative;
    margin-left: 6%;
}

.balance-check-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 35vh;
    height: 10vh;
    background-color: #fb3640;
    color: white;
    padding: 1vh;
}

.withdraw-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30vh;
    height: 10vh;
    padding: 1vh;
    background-color: #fb3640;
    color: white;
}

.land-img {
    margin-left: 25%;
}

.h1-land {
    padding: 2vh 20vh 0;
    margin: 0;
    color: blue;
}

.h5-land {
    padding: 2vh 20vh;
    color: orange;
}