<section>
    <h1 class="h1-land">ATM</h1>
    <section>
        <div class="row landing-section container">
            <div class="col-lg-3">
                <button  routerLink="balanceCheck" type="button" class="btn btn-lg btn-block balance-check-btn"><b>Balance Check</b></button>
              </div> 
            
          <div class="col-lg-6">
            <img class="land-img" src="/assets/images/atm.PNG" alt="ATM">
          </div>
    
          <div class="col-lg-3">
            <button routerLink="withdrawal" type="button" class="btn btn-lg btn-block btn-primary withdraw-btn"><b>Withdraw</b></button>
          </div>
        </div>
      </section>
  </section>
  